* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  padding-bottom: 4rem;
}

.header-main {
  z-index: 100;
  position: sticky;
  top: 0;
  /* transition: all 0.3s ease;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1); */
}

.hide {
  top: -100px;
}

.header-main > .header {
  height: 4rem;
  width: 1728px;
  margin: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.header-main > .header > .title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

.header-main > .header > .title > .logo {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 6px;
  background: rgb(52, 58, 64);
  color: #fff;
  text-align-last: center;
  line-height: 1.75rem;
  font-weight: bold;
  font-size: 20px;
  margin-right: 1rem;
  cursor: pointer;
}

.header-main > .header > .title > .user-logo {
  font-size: 1.3125rem;
  color: rgb(52, 58, 64);
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2.5px;
}

.header-main > .header > .search-login {
  display: flex;
  align-items: center;
}

.header-main > .header > .search-login > .search {
  font-size: 1.4rem;
  cursor: pointer;
  color: rgb(52, 58, 64);
  width: 2.5rem;
}

.header-main > .header > .search-login > .search:hover {
  transform: scale(1.1);
}

.header-main > .header > .search-login > .login-btn {
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-weight: bold;
  background: rgb(52, 58, 64);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: 300ms ease;
}

.header-main > .header > .search-login > .login-btn:hover {
  opacity: 0.7;
}

.pop-up {
  width: 4rem;
  background: rgb(248, 249, 250);
  border: 1px solid rgb(241, 243, 245);
  border-radius: 2rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 112px;
  left: 450px;
}

.pop-up i {
  height: 3rem;
  width: 3rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: white;
  border: 1px solid rgb(173, 181, 189);
  border-radius: 1.5rem;
  color: rgb(134, 142, 150);
  cursor: pointer;
  z-index: 5;
  font-size: 23px;
}

.pop-up i:hover {
  color: black;
  border-color: black;
}

.pop-up .like-number {
  margin-top: 0.5rem;
  color: rgb(73, 80, 87);
  line-height: 1;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* header */

.main-view {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.5rem;
  display: block;
}

.main-view > .head-wrapper {
  color: rgb(33, 37, 41);
}

.main-view > .head-wrapper h1 {
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: -0.004rem;
  margin-top: 0;
  font-weight: 800;
  color: rgb(52, 58, 64);
  margin-bottom: 2rem;
  word-break: keep-all;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.main-view > .head-wrapper > .information > .user-name a {
  text-decoration: none;
  color: rgb(52, 58, 64);
  font-weight: bold;
}

.main-view > .head-wrapper > .information > .user-name a:hover {
  text-decoration: underline;
}

.separator {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.main-view > .head-wrapper > .tip-btn {
  margin-top: 0.875rem;
  margin-bottom: -0.875rem;
  min-height: 0.875rem;
}

.main-view > .head-wrapper > .tip-btn > .tip {
  margin-bottom: 0.875rem;
  background: rgb(241, 243, 245);
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  border-radius: 1rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 0.875rem;
  color: rgb(12, 166, 120);
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

.main-view > .head-wrapper > .tip-btn > .tip:hover {
  opacity: 0.7;
}

.separator2 {
  position: relative;
  margin-top: 2rem;
}

.tip-list {
  margin-top: 2rem;
  padding: 2rem 1.5rem;
  background: rgb(248, 249, 250);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 4px 0;
  position: relative;
}

.tip-list > h2 {
  margin-top: 0;
  color: rgb(73, 80, 87);
  font-weight: bold;
  padding-right: 2rem;
  font-size: 1.5rem;
}

.tip-list > h2:hover {
  opacity: 0.7;
}

.tip-list > h2 > a {
  text-decoration: none;
  color: rgb(73, 80, 87);
}

.tip-list > .list {
  margin-top: 3rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.tip-list > .list > .list-view {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: -5px;
  color: rgb(73, 80, 87);
  cursor: pointer;
}

.tip-list > .list > .list-view:hover {
  color: black;
}

.tip-list > .list > .list-view > i {
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  color: rgb(52, 58, 64);
  font-size: 1rem;
}

.tip-list > .list > .list-view > p {
  margin-left: 10px;
}

.tip-list > .list > .slide- {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.tip-list > .list > .slide- > .number {
  font-size: 0.875rem;
  color: rgb(173, 181, 189);
}

.tip-list > .list > .slide- > .slide {
  display: flex;
  margin-left: 1.125rem;
}

.tip-list > .list > .slide- > .slide > .left-btn {
  background-color: inherit;
  border: none;
  font-size: 23px;
  color: rgb(18, 184, 134);
  outline: none;
}

.tip-list > .list > .slide- > .slide > .right-btn {
  font-size: 23px;
  color: rgb(18, 184, 134);
  background: inherit;
  border: none;
  outline: none;
  margin-left: 0.375rem;
}

.tip-list > .list > .slide- > .slide > .left-btn:hover {
  color: rgb(173, 181, 189);
  cursor: pointer;
}

.tip-list > .list > .slide- > .slide > .right-btn:hover {
  color: rgb(173, 181, 189);
  cursor: pointer;
}

.section {
  font-size: 1.125rem;
  color: rgb(34, 36, 38);
  line-height: 1.7;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.section {
  width: 768px;
  margin: 5rem auto 0;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  word-wrap: break-word;
}

.item {
  margin-top: 2.5rem;
}

.section a {
  color: rgb(12, 166, 120);
  text-decoration: none;
}

.section a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

/* section */

.profile {
  width: 768px;
  margin: 16rem auto 6rem;
}

.profile > .user-profile {
  display: flex;
  align-items: center;
}

.profile > .user-profile > .profile-img {
  border: 1px solid gray;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  cursor: pointer;
}

.profile > .user-profile > .profile-name {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  margin-left: 1rem;
}

.profile > .user-profile > .profile-name > .name {
  font-size: 1.5rem;
  line-height: 1.5;
}

.profile > .user-profile > .profile-name > .name a {
  color: rgb(33, 37, 41);
  font-weight: bold;
  text-decoration: none;
}

.profile > .user-profile > .profile-name > .name a:hover {
  text-decoration: underline;
}

.profile > .user-profile > .profile-name > .sub-name {
  white-space: pre-wrap;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  color: rgb(73, 80, 87);
  letter-spacing: -0.004em;
}

.separator3 {
  background: rgb(233, 236, 239);
  width: 100%;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.user-info {
  display: flex;
}

.user-info a {
  color: rgb(173, 181, 189);
  cursor: pointer;
  font-size: 2rem;
}

.user-info a:last-child {
  margin-left: 2rem;
}

.user-info a:hover {
  color: black;
}

/* profile */

.footer {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.footer > .next {
  width: 360px;
  height: 64px;
}

.footer > .right {
  margin-left: 3rem;
}

.footer > .right > a {
  cursor: pointer;
  background: rgb(248, 249, 250);
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 4px 0;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 4rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  flex-direction: row-reverse;
}

.footer > .right > a:hover .next-slide-right {
  transition: transform 100ms ease-in;
  transform: translateX(7px);
}

.footer > .right > a > .next-slide-right {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: 1px solid rgb(32, 201, 151);
  font-size: 1rem;
  color: rgb(32, 201, 151);
  margin-left: 1rem;
}

.footer > .right > a > .next-right-p {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1;
  min-width: 0;
}

.footer > .right > a > .next-right-p .description {
  font-size: 0.75rem;
  font-weight: bold;
  color: rgb(73, 80, 87);
}

.footer > .right > a > .next-right-p h3 {
  text-align: right;
  width: 100%;
  font-size: 1.125rem;
  color: rgb(73, 80, 87);
  line-height: 1.15;
  margin: 0.5rem 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* footer */

.comments-main {
  margin-top: 3rem;
  color: rgb(52, 58, 64);
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.comments-main h4 {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 1rem;
}

.comments-main > .comments > .comment textarea {
  resize: none;
  padding: 1rem 1rem 1.5rem;
  outline: none;
  border: 1px solid rgb(233, 236, 239);
  margin-bottom: 1.5rem;
  width: 100%;
  border-radius: 4px;
  min-height: 6.125rem;
  font-size: 1rem;
  color: rgb(33, 37, 41);
  line-height: 1.75;
  height: 70px;
}

.comments-main > .comments > .comment > .comment-btn {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.comments-main > .comments > .comment > .comment-btn button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: rgb(18, 184, 134);
  color: white;
  border-radius: 4px;
  padding: 0 1.25rem;
  height: 2rem;
  font-size: 1rem;
}

.comments-main > .comments > .comment > .comment-btn button:hover {
  opacity: 0.9;
}

.user-comments {
  margin-top: 2.5rem;
}

.user-comments > .user-comment {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  border-bottom: 1px solid gainsboro;
}

.user-comments > .user-comment > .user-profile {
  margin-bottom: 1.5rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.user-comments > .user-comment > .user-said {
  font-size: 1.125rem;
  color: rgb(34, 36, 38);
  line-height: 1.7;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.user-comments > .user-comment > .user-reply {
  margin-top: 2rem;
}

.user-comments > .user-comment > .user-profile > .profile2 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.user-comments > .user-comment > .user-profile a img {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 50%;
}

.user-comments > .user-comment > .user-profile > .profile2 > .comment-info {
  margin-left: 1rem;
  line-height: 1;
}

.user-comments
  > .user-comment
  > .user-profile
  > .profile2
  > .comment-info
  > .user-name
  a {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(52, 58, 64);
  text-decoration: none;
}

.user-comments
  > .user-comment
  > .user-profile
  > .profile2
  > .comment-info
  > .user-name
  a:hover {
  text-decoration: underline;
}

.user-comments
  > .user-comment
  > .user-profile
  > .profile2
  > .comment-info
  > .date {
  margin-top: 0.5rem;
  color: rgb(134, 142, 150);
  font-size: 0.875rem;
}

.user-comments > .user-comment > .user-said p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-size: 1.125rem;
  color: rgb(34, 36, 38);
  line-height: 1.7;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.user-comments > .user-comment > .user-reply span:first-child {
  border: 1px solid rgb(32, 201, 151);
  color: rgb(32, 201, 151);
  padding: 0 5px;
  cursor: pointer;
  margin-right: 5px;
}

.user-comments > .user-comment > .user-reply span:last-child {
  color: rgb(18, 184, 134);
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
}

.user-comments > .user-comment > .user-reply:hover {
  opacity: 0.7;
}

/* comment */

@media screen and (max-width: 1808px) {
  .header-main > .header {
    width: 760px;
  }
  .main-view > .pop-up {
    display: none;
  }
}

/*  */

.login-popup {
  width: 606px;
  height: 480px;
  animation: 0.4s ease-in-out 0s 1 normal forwards running hwrkPK;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 12px 0px;
  /* display: flex; */
  display: none;
  position: fixed;
  top: 25%;
  left: 34%;
  z-index: 20;
}

@keyframes hwrkPK {
  0% {
    opacity: 0;
    transform: translateY(400px) scale(0.75);
  }
  75% {
    opacity: 1;
    transform: translateY(-16px) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.login-popup > .gray-block {
  width: 216px;
  background: rgb(241, 243, 245);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.login-popup > .gray-block > div > img {
  width: 100%;
  height: auto;
  display: block;
}

.login-popup > .gray-block > div > .welcome {
  font-size: 1.75rem;
  margin-top: 1.5rem;
  color: rgb(73, 80, 87);
  text-align: center;
  font-weight: 600;
}

.login-popup > .white-block {
  flex: 1 1 0%;
  background: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.login-popup > .white-block > .exit-wrapper {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  font-size: 1.5rem;
  color: rgb(134, 142, 150);
  margin-bottom: 2.25rem;
}

.login-popup > .white-block > .exit-wrapper i {
  cursor: pointer;
}

.login-popup > .white-block > .block-content {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.login-popup > .white-block > .block-content > .upper-wrapper h2 {
  font-size: 1.3125rem;
  color: rgb(52, 58, 64);
}

.login-popup > .white-block > .block-content > .upper-wrapper section h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(134, 142, 150);
}

.login-popup > .white-block > .block-content > .upper-wrapper section form {
  width: 100%;
  display: flex;
  height: 3rem;
}

.login-popup
  > .white-block
  > .block-content
  > .upper-wrapper
  section
  form
  input {
  flex: 1 1 0%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 1rem;
  font-size: 1rem;
  border-top: 1px solid rgb(222, 226, 230);
  border-bottom: 1px solid rgb(222, 226, 230);
  border-left: 1px solid rgb(222, 226, 230);
  border-image: initial;
  border-right: none;
}

.login-popup
  > .white-block
  > .block-content
  > .upper-wrapper
  section
  form
  button {
  background: rgb(18, 184, 134);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 6rem;
  word-break: keep-all;
  cursor: pointer;
}

.login-popup
  > .white-block
  > .block-content
  > .upper-wrapper
  section
  form
  button:hover {
  opacity: 0.85;
}

.login-popup > .white-block > .block-content > .upper-wrapper section h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(134, 142, 150);
}

.login-popup
  > .white-block
  > .block-content
  > .upper-wrapper
  section
  .login-email {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.login-popup
  > .white-block
  > .block-content
  > .upper-wrapper
  section
  .login-email
  a
  i {
  font-size: 20px;
  border: 1px solid gainsboro;
  padding: 13px;
  border-radius: 50%;
  text-align: center;
}

.login-popup
  > .white-block
  > .block-content
  > .upper-wrapper
  section
  .login-email
  a
  i:active {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 12px 0px;
}

.login-popup
  > .white-block
  > .block-content
  > .upper-wrapper
  section
  .login-email
  a
  .fa-github {
  background-color: rgb(39, 46, 51);
  color: #fff;
}

.login-popup
  > .white-block
  > .block-content
  > .upper-wrapper
  section
  .login-email
  a
  .fa-google {
  color: tomato;
}

.login-popup
  > .white-block
  > .block-content
  > .upper-wrapper
  section
  .login-email
  a
  .fa-facebook-f {
  color: #fff;
  background-color: rgb(59, 89, 152);
}

.login-popup > .white-block > .block-content > .foot {
  text-align: right;
  margin-top: 95px;
}

.login-popup > .white-block > .block-content > .foot span {
  margin-right: 0.25rem;
}

.login-popup > .white-block > .block-content > .foot > .link {
  display: inline-block;
  font-weight: bold;
  color: rgb(18, 184, 134);
  cursor: pointer;
}

.login-popup > .white-block > .block-content > .foot > .link:hover {
  opacity: 0.8;
  text-decoration: underline;
}

/* 12/28 */
