<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/771b4faa81.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="static/search.css" />
    <script src="app.js" defer="defer"></script>
    <title>velog</title>
  </head>
  <body>
    <div class="body-opacity">
      <header class="header">
        <nav class="navbar">
          <div class="logo">
            <a href="">Hello.log</a>
          </div>
          <div class="login-search">
            <i class="fas fa-search"></i>
            <div class="login">
              <a href="">로그인</a>
            </div>
          </div>
        </nav>
      </header>
      <!-- header -->
      <div class="search-main">
        <div class="input-box">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="검색어를 입력하세요" />
        </div>
      </div>
    </div>
    <!-- search -->
  </body>
</html>
