* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(248, 249, 250);
}

.header {
  width: 100%;
  height: 4rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px;
}

.header .navbar {
  width: 1728px;
  height: 4rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .logo {
  font-size: 1.5rem;
  color: #333;
}

.logo a {
  color: #333;
}

.header .navbar .login-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 130px;
}

.header .navbar .login-search i:hover {
  transform: scale(1.1);
}

.login-search i {
  font-size: 1.2rem;
  cursor: pointer;
}

.header .navbar .login-search .login {
  font-size: 15px;
  border: 2px solid #333;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 200ms ease-in;
}

.header .navbar .login-search .login:hover {
  opacity: 0.7;
  background-color: black;
}

.header .navbar .login-search .login:hover a {
  color: #fff;
}

.login-search .login a {
  color: #333;
}

/* header */

.search-main {
  margin-top: 3.5rem;
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.search-main .input-box {
  margin-bottom: 1.5rem;
  display: flex;
  border: 1px solid rgb(173, 181, 189);
  -webkit-box-align: center;
  align-items: center;
  transition: all 0.125s ease-in 0s;
  cursor: text;
  height: 4rem;
  padding: 0px 1.5rem;
  padding-top: 4px;
}

.input-box i {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  transition: all 0.125s ease-in 0s;
  color: rgb(173, 181, 189);
  padding-bottom: 4px;
}

.search-main .input-box input {
  font-size: 1.5rem;
  height: 2rem;
  transition: all 0.125s ease-in 0s;
  flex: 1 1 0%;
  padding: 0px;
  border: none;
  color: rgb(73, 80, 87);
  border: none;
  outline: none;
  background-color: inherit;
}

input::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.205);
}
