* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(248, 249, 250);
}

.header {
  width: 100%;
  height: 4rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px;
}

.header .navbar {
  width: 1728px;
  height: 4rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .logo {
  font-size: 1.5rem;
  color: #333;
}

.logo a {
  color: #333;
}

.header .navbar .login-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 130px;
}

.header .navbar .login-search i:hover {
  transform: scale(1.1);
}

.login-search i {
  font-size: 1.2rem;
  cursor: pointer;
}

.header .navbar .login-search .login {
  font-size: 15px;
  border: 2px solid #333;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 200ms ease-in;
}

.header .navbar .login-search .login:hover {
  opacity: 0.7;
  background-color: black;
}

.header .navbar .login-search .login:hover a {
  color: #fff;
}

.login-search .login a {
  color: #333;
}

/* header */

.trending-new {
  width: 1692px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 4rem;
}

.trending-new a {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-right: 50px;
}

/* trending */

.section-main {
  width: 1728px;
  height: 100vh;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.section-main .content-box {
  width: 19.5rem;
  background-color: #fff;
  height: 382px;
  margin: 1rem;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;

  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
}

.section-main .content-box:hover {
  transform: translateY(-7px);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 15px 16px 10px;
}

.description .title {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: rgb(33, 37, 41);
  font-weight: bold;
  margin-top: -3px;
  margin-bottom: 4px;
  cursor: pointer;
}

.description .introduction p {
  color: rgb(73, 80, 87);
  word-break: break-word;
  margin-bottom: 1rem;
  cursor: pointer;
}

.description {
  padding: 10px;
}
.description .date {
  color: rgb(134, 142, 150);
  font-size: 0.75rem;
}

.user-info {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  border-top: 1px solid rgba(51, 51, 51, 0.068);
}

.user-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-profile img {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 7px;
}

.user-profile .user-name {
  display: flex;
  font-size: small;
}

.user-profile .user-name p {
  color: #888;
  margin-right: 4px;
}

.user-info .like {
  display: flex;
  align-items: center;
}

.user-info .like i {
  margin-right: 6px;
}

.user-info .like p {
  font-size: 15px;
  color: #888;
}

.description .mainimg {
  height: 150px;
  background-color: rgba(255, 255, 0, 0.274);
  width: 19.5rem;
  position: relative;
  right: 10px;
  top: -10px;
  cursor: pointer;
}

/* section */

.login-popup {
  width: 606px;
  height: 480px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 12px 0px;
  /* display: flex; */
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-popup .gray-block {
  width: 216px;
  background: rgb(241, 243, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-popup .gray-block p {
  font-size: 1.75rem;
  margin-top: 1.5rem;
  color: rgb(73, 80, 87);
  text-align: center;
  font-weight: 600;
}

.login-popup .white-block {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background: #fff;
  flex: 1 1 0%;
}

.white-block .exit-wrapper {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  color: rgb(134, 142, 150);
  margin-bottom: 2.25rem;
  cursor: pointer;
  transition: 100ms ease-in;
}

.white-block .exit-wrapper:hover {
  color: #333;
}

.white-block .block-content {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.white-block .block-content .upper-wrapper h2 {
  font-size: 1.3125rem;
  color: rgb(52, 58, 64);
}

.white-block .block-content .upper-wrapper section h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(134, 142, 150);
}

.white-block .block-content .upper-wrapper section form {
  width: 100%;
  display: flex;
  height: 3rem;
}

.upper-wrapper form input {
  flex: 1 1 0%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 1rem;
  font-size: 1rem;
  border-top: 1px solid rgb(222, 226, 230);
  border-bottom: 1px solid rgb(222, 226, 230);
  border-left: 1px solid rgb(222, 226, 230);
  border-image: initial;
  border-right: none;
}

.upper-wrapper form button {
  background: rgb(18, 184, 134);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 6rem;
  word-break: keep-all;
  cursor: pointer;
}

.upper-wrapper form button:hover {
  opacity: 0.8;
}

.upper-wrapper section {
  margin-top: 2.5rem;
}

.white-block .block-content .upper-wrapper section .login-email {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.upper-wrapper section .login-email i {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  transition: all 0.125s ease-in 0s;
  color: rgb(39, 46, 51);
  background: rgba(136, 136, 136, 0.123);
  font-size: 25px;
}

.upper-wrapper section .login-email i:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.foot {
  text-align: right;
}

.foot span {
  margin-right: 0.25rem;
}

.foot .link {
  display: inline-block;
  font-weight: bold;
  color: rgb(18, 184, 134);
  cursor: pointer;
}

.foot .link:hover {
  text-decoration: underline;
}
